@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Delius&family=Lobster&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@1,500&family=Shrikhand&family=Source+Code+Pro:wght@700&display=swap');
body{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100vh;
    background-color: #673AB7;
    color: #FF5722;
    font-family: 'Shrikhand', cursive;
    letter-spacing: 4px;
}
img{
    max-width: 600px;
    border-radius: 30px;
    border: 3px solid #FF5722;
}
main{
    text-align: center;
}
button{
    border: 1px solid #FF5722;
    border-radius: 14px;
    color: #FF5722;
    background-color: aliceblue;
    font-family: 'Shrikhand', cursive;
    letter-spacing: 4px;
    font-size: 22px;
    cursor: pointer;
}
button:hover{
    color: aliceblue;
    background-color: #FF5722;
}